
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9 Grid Layout</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="grid-container">
        {% for property in properties %}
            <div class="grid-item"><a href="{% url 'item_detail' property.id %}">{{ property.name }} </a> </div>
        {% endfor %}
    </div>
</body>
</html>
